Repository pymc-devs/pymc-extras, pull requests merged in 2025-07, with the labels that each got.

#529 Multivariate Structural Statespace Components
  pymc_extras/statespace/models/structural.py
  pymc_extras/statespace/models/structural/__init__.py
  pymc_extras/statespace/models/structural/components/__init__.py
  pymc_extras/statespace/models/structural/components/autoregressive.py
  pymc_extras/statespace/models/structural/components/cycle.py
  pymc_extras/statespace/models/structural/components/level_trend.py
  pymc_extras/statespace/models/structural/components/measurement_error.py
  pymc_extras/statespace/models/structural/components/regression.py
  pymc_extras/statespace/models/structural/components/seasonality.py
  pymc_extras/statespace/models/structural/core.py
  pymc_extras/statespace/models/structural/utils.py
  pymc_extras/statespace/models/utilities.py
  pymc_extras/statespace/utils/constants.py
  pymc_extras/statespace/utils/data_tools.py
  tests/statespace/core/test_statespace.py
  tests/statespace/core/test_statespace_JAX.py
  tests/statespace/filters/test_distributions.py
  tests/statespace/models/structural/__init__.py
  tests/statespace/models/structural/components/__init__.py
  tests/statespace/models/structural/components/test_autoregressive.py
  tests/statespace/models/structural/components/test_cycle.py
  tests/statespace/models/structural/components/test_level_trend.py
  tests/statespace/models/structural/components/test_measurement_error.py
  tests/statespace/models/structural/components/test_regression.py
  tests/statespace/models/structural/components/test_seasonality.py
  tests/statespace/models/structural/conftest.py
  tests/statespace/models/structural/test_against_statsmodels.py
  tests/statespace/models/structural/test_core.py
  tests/statespace/models/test_SARIMAX.py
  tests/statespace/models/test_VARMAX.py
  tests/statespace/models/test_structural.py
  tests/statespace/models/test_utilities.py
  tests/statespace/test_utilities.py
  tests/statespace/utils/test_coord_assignment.py
Labels: enhancements, major, statespace

#543 Forward model argument to add_fit_to_inference_data in find_MAP
  pymc_extras/inference/laplace_approx/find_map.py
  tests/inference/laplace_approx/test_find_map.py
  tests/inference/laplace_approx/test_laplace.py
Labels: bug

#548 Fix hidden state extraction where there are multiple observed states
  pymc_extras/statespace/models/structural/core.py
  tests/statespace/models/structural/test_core.py
Labels: bug, statespace

#549 Fix AR labeling + `core` docstrings typo
  pymc_extras/statespace/models/structural/components/autoregressive.py
  pymc_extras/statespace/models/structural/core.py
Labels: bug
